---
---

<nav
  class="flex justify-between px-20 py-10 items-center fixed top-0 w-full z-10 h-20"
  style="background-color: #F9F9F9;"
>
  <h1 class="text-xl text-gray-800 font-bold">
    <a href="/">
      <img src="/images/Logo.png" alt="American Sofos Logo" width="150" height="200" class="mr-2" />
    </a>
  </h1>
</nav>
